// Headings, Call-to-actions, Header Navigation
$font_family:'Raleway', sans-serif;
$font_weights1:400;
$font_weights2:700;
$font_size_heading:1.3rem;
$font_size_paragraph:1.3rem;
$font_size_big_heading: 2.6rem;

// mobile

$font_size_mb_heading:1rem;
$font_size_mb_paragraph:.8rem;
$font_size_mb_big_heading: 1.5rem;


// body
$font_family_body:'Open Sans', sans-serif;

// viewport
$mobile_vp: 375px;
$desktop_vp: 1440px;

// animation
$nav-duration: .3s;
$nav-delay:.5s;
$nav-delay-img: .8s;




