.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1.5rem;
}
@media (max-width: 375px) {
  .header_container {
    padding: 0;
  }
}
.header_container_brand img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: rica 0.3s ease forwards 0.8s;
          animation: rica 0.3s ease forwards 0.8s;
  padding: 1rem;
  transform: translateX(-1000%);
  opacity: 0;
}
@-webkit-keyframes rica {
  0% {
    transform: translateX(-1000%);
    opacity: 0;
  }
  55% {
    transform: translateX(50%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes rica {
  0% {
    transform: translateX(-1000%);
    opacity: 0;
  }
  55% {
    transform: translateX(50%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@media (max-width: 375px) {
  .header_container_brand img {
    padding: 0 0.5rem;
    width: 80px;
  }
}
.header_container_nav {
  padding: 2rem 0;
  transform: translateY(-100%);
  -webkit-animation: brian 0.3s ease forwards 0.5s;
          animation: brian 0.3s ease forwards 0.5s;
}
@-webkit-keyframes brian {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes brian {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.header_container_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header_container_nav ul li {
  margin: 0 1.5rem;
}
.header_container_nav ul li a {
  text-decoration: none;
  color: hsl(238deg, 22%, 44%);
  font-size: 1.3rem;
  position: relative;
  padding: 0.7rem 0;
}
.header_container_nav ul li a::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  left: 50%;
  height: 3px;
  background-color: hsl(224deg, 93%, 58%);
  opacity: 0.4;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.header_container_nav ul li a:hover::after {
  width: 100%;
}
@media (max-width: 375px) {
  .header_container_nav ul li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
  .header_container_nav ul li {
    margin: 0.5rem;
  }
}
@media (max-width: 375px) {
  .header_container_nav {
    padding: 0;
  }
}

.main_section {
  height: calc(100vh - 146px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: brix 0.3s ease forwards;
          animation: brix 0.3s ease forwards;
}
@-webkit-keyframes brix {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes brix {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.main_section_left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main_section_left_heading, .section_sub_main_indent_left_heading {
  color: hsl(243deg, 87%, 12%);
  font-size: 2.6rem;
  font-family: "Raleway", sans-serif;
  line-height: 4rem;
  font-weight: 700;
}
.main_section_left_paragraph {
  margin-bottom: 1rem;
}
.main_section_left_form {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main_section_left_form input {
  flex: 2;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
}
.main_section_left_form button:hover {
  background-color: hsl(236deg, 75%, 46%);
}
.main_section_right {
  background-image: url("../images/illustration-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45%;
  height: 100%;
}
@media (max-width: 375px) {
  .main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 49px);
  }
  .main_section_right {
    padding: 1rem;
    order: -1;
    width: 100%;
    height: 50%;
  }
  .main_section_left {
    width: 100%;
    height: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .main_section_left_heading, .section_sub_main_indent_left_heading {
    color: hsl(243deg, 87%, 12%);
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5rem;
    font-weight: 900;
    text-align: center;
    padding: 1rem;
  }
  .main_section_left_paragraph {
    margin-bottom: 0;
    text-align: center;
    padding: 1rem;
  }
  .main_section_left_form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
  }
  .main_section_left_form input {
    padding: 0.7em;
    margin-right: 0;
    font-size: 0.8rem;
    border-radius: 0;
    border: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.2), -1px -1px 0.5px rgba(0, 0, 0, 0.2);
  }
  .main_section_left_form button {
    width: 100%;
    font-weight: 700;
  }
  .main_section_left_form button:hover {
    background-color: hsl(236deg, 75%, 46%);
  }
}

.section_sub_main {
  height: 100vh;
  background-image: url("../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section_sub_main_indent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_sub_main_indent_left {
  width: 50%;
  height: 80vh;
}
.section_sub_main_indent_left_heading {
  opacity: 0;
  transform: translateX(-150px);
  transition: all 1.5s ease;
}
.section_sub_main_indent_left_paragraph, .section_sub_main_indent_left_paragraph_2 {
  margin: 1.5rem 0;
  transform: translateX(400px);
  opacity: 0;
  transition: all 1.5s ease;
}
.section_sub_main_indent_left_span {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 1s ease;
}
.section_sub_main_indent_left_span button {
  border: 0;
  background-color: none;
  color: hsl(170deg, 45%, 43%);
  cursor: pointer;
  font-size: 1.3rem;
}
.section_sub_main_indent_left_span img {
  width: 30px;
  height: 30px;
}
.section_sub_main_indent_left_comment {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 70%;
  padding: 1.2rem;
  border-radius: 0.5rem;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 2s ease;
}
.section_sub_main_indent_left_comment_img {
  width: 20px;
  height: 20px;
}
.section_sub_main_indent_left_comment_span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.section_sub_main_indent_left_comment_span img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.section_sub_main_indent_left_comment_span_userinfo {
  margin-left: 1rem;
}
.section_sub_main_indent_left_comment_span_userinfo h6 {
  font-weight: 700;
  font-size: 1.2rem;
}
.section_sub_main_indent_right {
  background-image: url("../images/illustration-2.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 60vh;
  width: 50%;
  transform: translateX(200px);
  opacity: 0;
  transition: all 1s ease;
}
@media (max-width: 375px) {
  .section_sub_main {
    height: 100%;
    padding: 1rem;
  }
  .section_sub_main_indent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section_sub_main_indent_left {
    width: 100%;
  }
  .section_sub_main_indent_left_heading {
    opacity: 0;
    transform: translateX(-150px);
    transition: all 1.5s ease;
    transform: translateX(0);
  }
  .section_sub_main_indent_left_paragraph, .section_sub_main_indent_left_paragraph_2 {
    margin: 1rem 0;
    transform: translateX(400px);
    opacity: 0;
    transition: all 1.5s ease;
  }
  .section_sub_main_indent_left_span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 1s ease;
  }
  .section_sub_main_indent_left_span button {
    border: 0;
    background-color: none;
    color: hsl(170deg, 45%, 43%);
    cursor: pointer;
    font-size: 0.8rem;
    border-bottom: 1px solid hsl(170deg, 45%, 43%);
  }
  .section_sub_main_indent_left_span img {
    width: 30px;
    height: 30px;
  }
  .section_sub_main_indent_left_comment {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 80%;
    border-radius: 0.5rem;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 2s ease;
    margin: 0 auto;
    margin-top: -1rem;
  }
  .section_sub_main_indent_left_comment_text {
    margin-bottom: -10px;
  }
  .section_sub_main_indent_left_comment_img {
    width: 10px;
    height: 10px;
  }
  .section_sub_main_indent_left_comment_span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .section_sub_main_indent_left_comment_span img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .section_sub_main_indent_left_comment_span_userinfo h6 {
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: -10px;
  }
  .section_sub_main_indent_right {
    order: -1;
    width: 95%;
    margin-top: 1.5rem;
  }
}

.pre_footer {
  background-color: hsla(225deg, 58%, 22%, 0.812);
}
.pre_footer .container_indent, .pre_footer .section_sub_main_indent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pre_footer .container_indent_left {
  width: 50%;
  color: hsl(240deg, 75%, 98%);
  padding: 3rem 0;
}
.pre_footer .container_indent_left_heading {
  margin-bottom: 1rem;
}
.pre_footer .container_indent_right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
.pre_footer .container_indent_right_input {
  width: 400px;
  font-size: 1rem;
  padding: 1em;
}
.pre_footer .container_indent_right button {
  margin-top: 0.8rem;
}
@media (max-width: 375px) {
  .pre_footer .container_indent, .pre_footer .section_sub_main_indent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    text-align: center;
    padding: 1rem;
  }
  .pre_footer .container_indent_left {
    width: 100%;
    color: hsl(240deg, 75%, 98%);
    padding: 0;
  }
  .pre_footer .container_indent_left_heading {
    margin-bottom: 1rem;
  }
  .pre_footer .container_indent_left_paragraph {
    margin-bottom: 1rem;
  }
  .pre_footer .container_indent_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
  }
  .pre_footer .container_indent_right_input {
    width: 100%;
    font-size: 1rem;
    padding: 1em;
  }
  .pre_footer .container_indent_right button {
    margin: 0.8rem auto;
  }
}

.footer {
  background-color: hsl(243deg, 87%, 12%);
  color: white;
  padding: 1.5rem 0;
}
.footer a {
  color: white;
}
.footer .container_indent_main_footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .container_indent_main_footer_col4 ul span:first-child {
  padding: 0.5rem 0.7rem;
}
.footer .container_indent_main_footer_col4 ul span:nth-child(2) {
  margin: 0 1rem;
}
.footer .container_indent_main_footer_col4 ul span {
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0px 0px 2px white;
}
@media (max-width: 375px) {
  .footer {
    font-size: 0.8rem;
  }
  .footer .container_indent, .footer .section_sub_main_indent {
    width: 86%;
    margin: 0 auto;
  }
  .footer .container_indent_main_footer {
    grid-template-columns: none;
    grid-gap: 1rem;
    padding: 1rem;
  }
  .footer .container_indent_main_footer_col1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer .container_indent_main_footer_col1 img {
    margin-right: 0.5rem;
  }
  .footer .container_indent_main_footer_col4 ul {
    display: flex;
    justify-content: center;
  }
  .footer .container_indent_main_footer_col4 ul soan {
    padding: 0.2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
}

p {
  font-size: 1.3rem;
}
@media (max-width: 375px) {
  p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}

.container_indent, .section_sub_main_indent {
  max-width: 1440px;
  margin: 0 auto;
}

.show {
  opacity: 1;
  transform: translateX(0px);
}

.btn, .pre_footer .container_indent_right button {
  flex: 1;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 0.6em;
  background-color: hsl(224deg, 93%, 58%);
  color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
@media (max-width: 375px) {
  .btn, .pre_footer .container_indent_right button {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */